variables:
    TWINE_USERNAME: SECURE
    TWINE_PASSWORD: SECURE
    TWINE_REPOSITORY_URL: https://upload.pypi.org/legacy/
    ANACONDA_USERNAME: SECURE
    ANACONDA_TOKEN: SECURE
    DOCKER_PASSWORD: SECURE
    DOCKER_USERNAME: SECURE


stages:
  - test
  - deploy

test:
  image: python:3
  stage: test
  script:
    - pip install .
    - python setup.py test --addopts "--cov=srim"

deploy_pypi:
  image: python:3
  stage: deploy
  script:
    - pip install -U twine setuptools
    - python setup.py sdist bdist_wheel
    - twine upload dist/*.tar.gz
    - twine upload dist/*.whl
  only:
    - /^v\d+\.\d+\.\d+([abc]\d*)?$/  # PEP-440 compliant version (tags)

deploy_conda:
  image: continuumio/miniconda3:latest
  stage: deploy
  script:
    - conda install anaconda-client setuptools conda-build -y
    - python setup.py bdist_conda
    - anaconda -t $ANACONDA_TOKEN upload -u $ANACONDA_USERNAME /opt/conda/conda-bld/linux-64/pysrim*.tar.bz2
  only:
    - /^v\d+\.\d+\.\d+([abc]\d*)?$/  # PEP-440 compliant version (tags)

deploy_docker_pysrim:
  image: docker:git
  stage: deploy
  services:
    - docker:dind
  script:
    - export DOCKER_IMAGE="costrouc/pysrim"
    - export GITLAB_IMAGE="$CI_REGISTRY/$CI_PROJECT_PATH"
    - export PKG_VERSION=$CI_COMMIT_TAG
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
    - docker build -t $DOCKER_IMAGE:$PKG_VERSION -f Dockerfile.pysrim .
    - docker tag $DOCKER_IMAGE:$PKG_VERSION $DOCKER_IMAGE:latest
    - docker tag $DOCKER_IMAGE:$PKG_VERSION $GITLAB_IMAGE:$PKG_VERSION
    - docker tag $DOCKER_IMAGE:$PKG_VERSION $GITLAB_IMAGE:latest
    - docker push $DOCKER_IMAGE:$PKG_VERSION
    - docker push $DOCKER_IMAGE:latest
    - docker push $GITLAB_IMAGE:$PKG_VERSION
    - docker push $GITLAB_IMAGE:latest
  only:
    - /^v\d+\.\d+\.\d+([abc]\d*)?$/ # PEP-440 compliant version (tags)

deploy_docker_srim:
  image: docker:git
  services:
    - docker:dind
  script:
    - export DOCKER_IMAGE="costrouc/srim"
    - export PKG_VERSION=${CI_COMMIT_TAG:5}
    - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
    - docker build -t $DOCKER_IMAGE:$PKG_VERSION -f Dockerfile.srim .
    - docker tag $DOCKER_IMAGE:$PKG_VERSION $DOCKER_IMAGE:latest
    - docker push $DOCKER_IMAGE:$PKG_VERSION
    - docker push $DOCKER_IMAGE:latest
  only:
    - /^srim-v\d+\.\d+\.\d+([abc]\d*)?$/ # trigger to build srim dockerfile
